<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2 th:text="${user.login}"></h2>-->
<!--<img th:src="${user.avatar_url}" width="100">-->

<!--<h3>Languages</h3>-->
<!--<div th:each="entry : ${languages}">-->
<!--    <span th:text="${entry.key}"></span> :-->
<!--    <span th:text="${entry.value}"></span>-->
<!--</div>-->

<!--<h3>Repositories</h3>-->
<!--<div th:each="repo : ${repos}">-->
<!--    <h4 th:text="${repo.name}"></h4>-->
<!--    <p>-->
<!--        Language: <span th:text="${repo.language}"></span> |-->
<!--        Stars: <span th:text="${repo.stargazers_count}"></span>-->
<!--    </p>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h3>
    Top Language: <span th:text="${topLanguage}"></span>
</h3>

<form method="get">
    <input type="text" name="language" placeholder="Filter by language">
    <button type="submit">Apply</button>
</form>
<div class="container">

    <h2 th:text="${user.login}"></h2>
    <div style="text-align:center;">
        <img th:src="${user.avatar_url}" width="120">
    </div>

    <h3>Languages</h3>
    <div class="lang-box">
        <div th:each="entry : ${languages}" class="lang-item">
            <span th:text="${entry.key}"></span> :
            <span th:text="${entry.value}"></span>
        </div>
    </div>

    <h3>Repositories</h3>
    <div th:each="repo : ${repos}" class="repo-card">
        <h4 th:text="${repo.name}"></h4>
        <p>
            Language: <span th:text="${repo.language}"></span> |
            ⭐ Stars: <span th:text="${repo.stargazers_count}"></span>
        </p>
    </div>

</div>

</body>
</html>