<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>GitHub Search</title>-->
<!--</head>-->
<!--<body>-->

<!--<h2>Search GitHub Users</h2>-->

<!--<form action="/search" method="get">-->
<!--    <input type="text" name="query" placeholder="Enter username">-->
<!--    <button type="submit">Search</button>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GitHub Search</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">
    <h2>Search GitHub Users</h2>

    <form action="/search" method="get" style="text-align:center;">
        <input type="text" name="query" placeholder="Enter username">
        <button type="submit">Search</button>
    </form>
</div>

</body>
</html>